<div class="store-infos">
  <%= link_to 'retour', root_path %>
  <h1><%= @store.name %></h1>
  <p>Ouvert de <%= @store.open_hour.to_s %>h à <%= @store.close_hour.to_s %>h</p>
  <p><%= @store.address %></p>
</div>
<div class="games-cards">
<% @store_games.each do |game| %>
  <div class="game-card">
    <img src="/assets/Starfield" />
        <div class="game-infos">
        <h2><%= game.title %></h2>
        <p><%= game.category %></p>
        <p><%= game.console %></p>
        <p><%= game.condition %></p>
        <p><strong><%= game.price %></strong> € seulement</p>
    </div>
    </div>
<% end %>
  </div>
</div>
