<h1 class="text-light mb-4">You Won</h1>
<div class="container">
  <div class="container-fluid">
    <p>Votre Reservation de : <span class="text-danger"><%= @booking.game.title %></span>  à bien été effectuée</p>
  </div>
    <p>Vous avez jusqu'a <%= @booking.limit_date %> pour venir le récupérer ici : <%= @booking.game.store.address %></p>
    <div class="container d-flex justify-content-center">
    <div class="rounded-4", style="width: 95%; height: 300px;"
  data-controller="map"
  data-map-marker-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%=ENV["MAPBOX_API_KEY"]%>"></div>
    </div>
</div>
