<div class="battle-card">
  <div class="battle-card-inner">
    <div class="battle-card-front">
      <img src="/assets/Starfield" />
    </div>
    <div class="battle-card-back">
      <h2><%= game.title %></h2>
      <p><%= game.category %>/p>
      <p><%= game.console %></p>
      <p><%= game.condition %></p>
      <p><strong><%= game.price %><</strong> € seulement</p>
    </div>
  </div>
</div>
