<div class="container pt-5">
  <div class="row">
    <div class="wrapper">
      <%= link_to new_battle_path, class: "my-btn" do %>
        <div class="grid1">
          <%= image_tag "vs.png", alt: "vs.png", class: "img-fluid", style: "width: 70%;" %>
          <p style="font-weight: bold;">Lets fight </p>
        </div>
      <% end %>
      <%= link_to battles_path, class: "my-btn" do %>
        <div class="grid2">
          <%= image_tag "reservation.png", alt: "reservation.png", class: "img-fluid", style: "width: 50%;" %>
          <p style="font-weight: bold;"> GAME </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="wrapper2">
      <div class="grid3">
        <%= link_to root_path, class: "my-btn" do %>
          <div class="child1">
            <%# <%= render 'timer',last_booking_date: @last_booking_date %> %>
          </div>
        <% end %>
        <%= render 'button' %>
        <div class="child2">
        </div>
      </div>
      <%= link_to root_path, class: "my-btn2" do %>
        <div class="grid4">
          <%= image_tag "reservation.png", alt: "reservation.png", class: "img-fluid", style: "width: 30%;" %>
          <p style="font-weight: bold;">Vos réservations en cours </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
