
<style>
body {
  background: url(<%= asset_path @background_image %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="test-container" data-controller="flip" >
<button class= "xbtn-b">  FINSIH HIM </button>
  <div class="swiper-container" data-flip-target="swiper1" data-flip-games1="<%= @first_games.map(&:id).join(',') %>">
    <div class="swiper-wrapper">

      <% @first_games.each_with_index do |first_game, index| %>
        <div class="swiper-slide card" style="--i:<%= index + 1 %>" data-flip-target="card" data-flip-target="image" data-game-id="<%= first_game.id %>" data-game-name="<%= first_game.title %>">
          <img src="<%= url_for(first_game.picture) %>" alt="" data-flip-target="image">
        </div>
      <% end %>
    </div>
  </div>

  <div class="swiper-container" data-flip-target="swiper2" , data-flip-games2="<%= @second_games.map(&:id).join(',') %>">
    <div class="swiper-wrapper">

      <% @second_games.each_with_index do |second_game, index| %>
        <div class="swiper-slide card" style="--i:<%= index + 1 %>" data-flip-target="card" data-flip-target="image" data-game-id="<%= second_game.id %>" data-game-name="<%= second_game.title %>">
          <img src="<%= url_for(second_game.picture) %>" alt="" data-flip-target="image">
        </div>
      <% end %>
    </div>
  </div>
<button class= "xbtn-b">  FINSIH HIM </button>
</div>

<div id="game-modal" class="game-modal">
  <h1 id="game-modal-title" class="game-modal-title"></h1>
  <img id="game-modal-image" src="" alt="Game image" class="game-modal-image">
</div>
