<div class="container-second">
  <div class="row">
    <div class="col-md-4">
      <%= render 'shared/description' %>
    </div>
    <div class="col-md-8">
      <%# <img src="path_to_image" alt="Description image" class="img-fluid"> %>
    </div>
  </div>
</div>
<div class="container fixed-bottom">
  <div class="wrapper">
    <div class="grid1 rounded">
      <%= link_to pages_nour_path, class: "my-btn",style: "background-color: #114232;" do %>
        <%= image_tag "reservation.png", alt: "reservation.png", class: "img-fluid", style: "width: 50%;" %>
          <p style="font-weight: bold;">Vos réservations en cours </p>
      <% end %>
    </div>
    <div class="grid2 rounded" >
      <%= link_to pages_nour_path, class: "my-btn", style:"background-color: #FFCF9D;" do %>
       <%= image_tag "reservation.png", alt: "reservation.png", class: "img-fluid", style: "width: 50%;" %>
          <p style="font-weight: bold;">Vos réservations en cours </p>
      <% end %>
    </div>
    <div class="grid3 rounded">
      <%= link_to pages_nour_path, class: "my-btn",  style: "background-color: #FFCF9D" do %>
          <%= image_tag "reservation.png", alt: "reservation.png", class: "img-fluid", style: "width: 50%;" %>
          <p style="font-weight: bold;">Vos réservations en cours </p>
      <% end %>
    </div>
    <div class="grid4 rounded">
      <%= link_to pages_nour_path, class: "my-btn",  style: "background-color: #FFCF9D;" do %>
        <%= image_tag "reservation.png", alt: "reservation.png", class: "img-fluid", style: "width: 50%;" %>
          <p style="font-weight: bold;">Vos réservations en cours </p>
      <% end %>
    </div>
    <div class="grid5 rounded">
      <%= link_to pages_nour_path, class: "my-btn", style: "background-color: #114232;" do %>
       <%= image_tag "reservation.png", alt: "reservation.png", class: "img-fluid", style: "width: 50%;" %>
          <p style="font-weight: bold;">Vos réservations en cours </p>
      <% end %>
    </div>
  </div>
</div>
