<% @battles.each do |battle| %>

  <div class="game-card">
    <%= cl_image_tag battle.winning_game.picture.key, class: "game-photo" %>
    <div class="game-infos">
      <h2><%= battle.winning_game.title %></h2>
      <p>
        <%= cl_image_tag battle.winning_game.console.picture.key, class: "console-photo #{"console-system" if battle.winning_game.console.name == "master system"}" %>
      </p>
      <p><strong><%= battle.winning_game.updated_at %></strong></p>
    </div>
  </div>

  <%= link_to "Delete", battle_path(battle), data: { turbo_method: :delete }, class: 'btn btn-danger' %>


<% end %>
