<!DOCTYPE html>
<html>
  <head>
    <title>SecondRound</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= @fight_page ? "body2": "body1" %>">

    <%= render 'shared/top' unless @hide_top %>
    <%= render "shared/flashes" %>
    <div class="container m-b">
    <%= yield %>
    </div>
    <%= render 'shared/navbar' unless @hide_nav  %>
  </body>

</html>
